<?xml version="1.0"?>

<launch>
  <include file="$(find flea3)/launch/single_node.launch">
    <arg name="device" value="16061374"/>
  </include>

  <!-- Debayer -->
  <node pkg="image_proc" type="image_proc" name="image_proc" output="screen">
    <remap from="image_raw" to="/pg_16061374/image_raw"/>
    <remap from="image_mono" to="/pg_16061374/image_mono"/>
  </node>

  <include file="$(find velodyne_puck_decoder)/launch/velodyne_puck_decoder_nodelet.launch"/>

  <include file="$(find imu_3dm_gx4)/launch/imu.launch"/>

  <!-- Record everything -->
  <!--node pkg="rosbag" type="record" name="rosbag_record"
    args="record -o /media/ian/ExtHDD/InspectionData/hallway_datasets/hallway_img_lidar /velodyne_point_cloud /pg_16061374/image_mono /imu/imu /imu/magnetic_field"
  /-->
</launch>