<?xml version="1.0"?>

<launch>
  <include file="$(find flea3)/launch/single_node.launch">
    <arg name="device" value="16061374"/>
  </include>

  <node pkg="image_proc" type="image_proc" name="image_proc" output="screen">
    <remap from="image_raw" to="/pg_16061374/image_raw"/>
    <remap from="camera_info" to="/pg_16061374/camera_info"/>
    <remap from="image_rect" to="/pg_16061374/image_rect"/>
  </node>

  <!-- LSD SLAM system -->
  <node name="lsd_slam" pkg="lsd_slam_core" type="live_slam" output="screen">
    <remap from="image" to="/pg_16061374/image_rect"/>
    <remap from="camera_info" to="/pg_16061374/camera_info"/>
  </node>
</launch>